.block-header {
	background: #0761b1;
	padding: 11px 0 13px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo {
		& > a {
			color: #fff;
			font-weight: 300;
			font-size: 1.4em;
			&:hover {
				color: darken(#fff, 10%);
				text-decoration: none;
			}
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		&__item {
			margin-right: 15px;
			& > span {
				color: #fff;
				transition: opacity 0.2s ease;
			}
			& > button, & > a {
				background: #1a1c1e;
				border-radius: 5px;
				border: none;
				margin: 0;
				color: #fff;
				padding: 0.6rem 1.1rem;
				transition: opacity 0.2s ease;
				&:hover {
					text-decoration: none;
					color: #fff;
					opacity: 0.9;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}