@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#modal-root {
//   position: relative;
//   z-index: 999;
}

.word-item {
	display: flex;
	align-items: center;
	&__list {
		margin-left: 10px;
		span {
			margin-right: 5px;
			cursor: default;
			&:hover {
				background: rgba(0,0,0,.05);
			}
			&:after {
				content: ',';
				background: white;
			}
			&:first-child {
				&:before {
					content: '–';
					padding-right: 10px;
					background: white;
				}
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: '.';
				}
			}
		}
	}
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}